ul{
    padding:15px;
    margin:10px;
    background-color:#DF6589FF;
}
ul >li{ 
    display: inline-block;
    color:ivory;
    margin-right:200px;
}
#secondli{
    margin-left:200px;
    display: inline-block;
    color:#5B84B1FF;
}
p{
    background-color:#DF6589FF;
    color: #435E55FF;
    font-size: 15px;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
    font-family:FontAwesome;
}
body{
    background-color:#3C1053FF;

}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#DF6589FF;
    color: white;
    text-align: center;
    border-radius: 50px;
  }
  ol {
      display: inline-block;
  }
 ol >li{
    margin: 25px;
     float: left;
    list-style-type:decimal-leading-zero;
 }
